@using System.Configuration
@{
    ViewBag.Title = "Twin Cities Roof Repair - West End Remodeling";
}
<div class="fullWidthContainer featuredRoof">

    <div class="col-md-8 col-md-offset-2 centered">
        <h1>Does Your Roof Need Repair?</h1>
        <p class="lead">West End Remodeling has you covered!</p>
        <p class="op">You can trust West End Remodeling for all your roofing needs. Whether your roof is damaged from a storm or is simply in need of replacement, let our experienced team do it right!</p>
    </div>

</div>

<div class="fullWidthContainer blueGreenGradient topBottomBorder">

    <div class="container body-content">
        <div class="col-md-6 roofersOnHouse">
            <h2>Roof Repair Experts</h2>
            <p>
                West End Remodeling provides expert roofing services to residential property owners in the Twin Cities metro area.
                Roofing manufacturer product knowledge, uniform roof installation standards, continuous safety training and a determined commitment
                to 100% customer satisfaction are the hallmarks of our service. With West End Remodeling, you will have peace of mind knowing your
                home is in expert roofers hands. And yes, our expert roofing services are affordable!
            </p>
            <p>
                <a class="btn btn-primary" href="@Url.Action("RoofRepairExperts", "Home")" title="Learn more about our roofing repair experts">More about Roofing Repair &raquo;</a>
            </p>
        </div>

        <div class="col-md-6 lightningStrike">
            <h2>Storm Damage Specialists</h2>
            <p>In an emergency, every second counts. Our roofing specialists offer emergency roof repair with quick turnaround to meet your roofing needs.</p>
            <p>
                <a class="btn btn-primary" href="@Url.Action("StormDamageSpecialists", "Home")" title="We are twin cities specialists at repairing storm damaged roofing">Learn more Storm Damage &raquo;</a>
            </p>
        </div>
    </div>

</div>

<div class="fullWidthContainer">
    <div class="container body-content">
        <div class="col-md-6">
            map here
        </div>
        <div class="col-md-4 col-md-offset-2">
            <h2>Service Areas</h2>
            <p>
                We are full service roofing company serving the Twin Cities metro area. See our coverage area. When hail storms hit Minnesota or Iowa we may assemble
                teams to assess and repair the damaged areas outside of the metro area. Please contact us at @ConfigurationManager.AppSettings["phone"] if a storm hits your area.
            </p>
            <p>
                <a class="btn btn-primary" href="@Url.Action("ServiceAreas", "Home")" title="See our roofing services coverage map">See our coverage map &raquo;</a>
            </p>
        </div>

    </div>
</div>

<div class="fullWidthContainer">
    <div class="container body-content">


        <div class="col-md-8 ">
            <h2>Choosing a Roofing Contractor</h2>
            <p>
                Shingle roof replacement is a significant investment. Choosing the right shingles is the first step to a beautiful and strong roof.
                Price is also linked to the type of roofing material, its features and warranty. Additionally, material and workmanship quality are
                known to affect the performance as well as the durability of your roofing system. It is important, therefore, to select an experienced
                and reliable roofing company in Twin Cities metro.
            </p>

            <p>
                We know that there are many more factors to look at apart from the price when choosing a roofing contractor.
                Do your homework; check the company’s credentials before choosing their services. West End Remodeling stands by our reputation and
                it shows with our AAA Better Business Bureau record.
            </p>

            <ul>
                <li>
                    Is the Minnesota contractor licensed? Some states don't require roofing contractors to be licensed. Minnesota's West End Remodeling LLC,
                    is a licensed and certified roofing contractor.
                </li>
                <li>
                    Does the contractor have a reputation for quality? Most contractors will readily provide you with a list of references.
                    A quick call to the Better Business Bureau may also help in determining if contractors have had any complaints registered against them.
                </li>
                <li>
                    Does the contractor provide you with a copy of the roofing material manufacturer's warranty and thoroughly explain it? Are defective materials
                    going to be replaced at the original purchasing price or are they prorated? Will labor be an additional cost?
                </li>
                <li>
                    Does the contractor thoroughly inspect your roof and then explain his findings? A good contractor will inspect anything that could cause leaks
                    whether it is roof related or not (for instance, chimney defects, air conditioning units, fans, walls, etc).
                </li>
                <li>Is the contractor going to use four (4) fasteners per shingle? Six (6) per shingle in areas where there is frequent high wind?</li>
                <li>Does the contractor have a pager or cellular number in case of an emergency? Will he be available on weekends?</li>
                <li>Is the contractor going to supervise the different phases of the project and provide a final inspection?</li>
            </ul>
        </div>
        <div class="col-md-3 col-md-offset-1">
            <h3>Some Important Questions to Ask about Warranties</h3>
            <ul>
                <li>What is the length of the warranty?</li>
                <li>Is the warranty transferable?</li>
                <li>What does the warranty specifically cover?</li>
            </ul>
        </div>


    </div>
</div>

<div class="fullWidthContainer">
    <div class="container body-content">


        <div class="col-md-6">
            <h2>Insurance Claims</h2>
            <p>
                We will work directly with your home insurance company.
            </p>
            <p>
                <a class="btn btn-primary" href="@Url.Action("InsuranceClaims", "Home")" title="Dealing with roofing insurance claims">How we handle insurance claims &raquo;</a>
            </p>
        </div>

        <div class="col-md-6">
            <h2>What to Expect</h2>
            <p></p>
            <p>
                <a class="btn btn-primary" href="@Url.Action("WhatToExpect", "Home")" title="What to expect with West End Remodeling roofing services">Learn what to expect from us &raquo;</a>
            </p>
        </div>

    </div>
</div>
